.zoomButton {
	width: 50px;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	margin-right: 3px;
	margin-top: 0;
	margin-bottom: 0;
	background: none;
	padding: 10px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: 0.2s all ease-out;
}

.buttonGroup {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: 3px;
	
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

.buttonGroup .zoomButton:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.buttonGroup .zoomButton:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-right: 0;
}
