.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	box-sizing: border-box;
}

.settingsDiv {
	display: flex;
	justify-content: center;
	background-color: gray;
	line-height: 15px;
	padding: 8px;
}

.settingsDiv label {
	padding: 0px 10px;
	border-right: solid 2px black;
}

.settingsDiv label:last-of-type {
	padding: 0px 10px;
	border-right: none;
}

.settingsDiv input[type="text"] {
	width: 30px;
}

.fastScroll {
	flex: 1;
	height: 500px;
	display: flex;
	flex-direction: column;
}

.valid {
	border: 1px solid black;
}

.invalid {
	border: 1px solid red;
}
